@import "tailwindcss";
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Momo+Trust+Display&display=swap");

@theme {
    --color-black: #000000;
    --color-accent: #15e4ffff;
    --color-accent2: #ffc815;
    --color-base-1: #00011c;
    --color-base-2: #000233;
    --color-highlight: #ffffff;
    --color-grey: #585858;
    --font-display: "Fira Code", monospace;

    --animate-fadeIn: fadeIn 1.5s ease-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h1,
h2,
h3,
p {
    font-family: var(--font-display);
}
